
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Roboto:ital,wght@1,500&display=swap');

body {
  background-color: #318fa5;
  font-family: 'Roboto', sans-serif;
  color: white;

}


hr {
  /* styling */
}

/* header content */
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 1.5%;

}


.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background-color: #51a9bd;
  height: 150px;
  width: 300px;
  padding: 50px;

}

.start {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 390px;
  padding: 10px;
}

#site-header-name {
  color: white;
  font-weight: bolder;
  letter-spacing: 0.1em;
  flex-grow: 2;
  padding-left: 10.5%;
}

#site-header-socials {
  color: white;
  font-weight: bolder;
  letter-spacing: 0.15em;
  flex-grow: 0.1;
  padding-left: 10.5%;
}

.site-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 60vh;
}

/* header content */

#site-main-greeting {
  font-weight: 600;
  font-size: 2rem;

}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  background-color: #9eced9;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  margin-top: 10px;
}




#site-main-buttons {
  font-weight: 400;
  margin-top: 10%;

}
